%%-*- mode: erlang -*-

{deps,
  [
    {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "96fd1e5b97"}}},
    {oauth2, "0.4.1", {git, "git://github.com/kivra/oauth2.git", {tag, "0.4.1"}}},
    {erlmongo, ".*", {git, "git://github.com/SergejJurecko/erlmongo", {tag, "0b9422ea1a"}}}
  ]
}.

{cover_enabled,true}.
{eunit_opts,[verbose]}.
{require_otp_vsn, "R16"}.
{erl_opts, [debug_info, fail_on_warning]}.

